{% extends "base.html" %}
{% block title %}{{ election.name }}{% endblock %}
{% block body %}
<h2>{{ election.name }}</h2>
{% if election.turnout_after or election.analysis.turnout %}
<h3>Turnout Estimation</h3>
{% if election.analysis.turnout %}
<p>This realtime turnout estimation map is generated from data from the <a href="https://jtannen.github.io/turnout_tracker_philadelphia.html">sixty-six
   wards Election Turnout Tracker</a>. Thank you to Jonathan Tannen for making his analysis available.
</p>
<p>When you vote, be sure to ask for your voter number. Then, share your division and voter number
at <a href="http://bit.ly/sixtysixturnout">http://bit.ly/sixtysixturnout</a>.
</p>
<div>
    <img src="{{ election.analysis.turnout.map }}" />
</div>
<div>
    Turnout data last modified at <i>{{ election.turnout_modified }}</i>
    and last checked at <i>{{ election.turnout_checked }}</i>.
</div>
{% else %}
<p>When the polls open, there will be a realtime turnout prediction map generated from data from the
<a href="https://jtannen.github.io/turnout_tracker_philadelphia.html">sixty-six
   wards Election Turnout Tracker</a>. Thank you to Jonathan Tannen for making his analysis available.
</p>
<p>When you vote, be sure to ask for your voter number. Then, share your division and voter number
at <a href="http://bit.ly/sixtysixturnout">http://bit.ly/sixtysixturnout</a>.
</p>
{% endif %}
{% endif %}
<h3>Races</h3>
{% if election.analysis.races %}
<div>
    <ul>
{% for race in election.analysis.races %}
    <li><a href="{{ race.slug }}.html">{{ race.name }}</a>
        {% if election.show_divisions_reporting %}
        <span class="{% if race.reporting_divs < race.total_divs %}in{% endif %}complete">({{ race.total_votes }} votes,
            {{ race.reporting_divs }}/{{ race.total_divs }} divisions reporting)</span>
        {% else %}
        ({{ race.total_votes }} votes)
        {% endif %}
    </li>
{% endfor %}
    </ul>
</div>
{% else %}
<div>
    No data.
</div>
{% endif %}
{% if election.turnout_modified %}
<div>
    <i>This page generated at {{ now }}.</i>
</div>
{% endif %}
{% endblock %}
