{% extends "base.html" %}
{% block body %}
{% include "index_content.html" %}
{% for election in elections %}
{% if not election.hidden %}
<h2><a href="{{ election.analysis.slug }}.html">{{ election.analysis.name }}</a></h2>
{% if election.analysis.races %}
<div>
    <ul>
{% if election.analysis.turnout %}
    <li><a href="{{ election.analysis.slug }}.html">Turnout</a></li>
{% endif %}
{% for race in election.analysis.races %}
    <li><a href="{{ race.slug }}.html">{{ race.name }}</a>
        ({{ race.total_votes }} votes)</li>
{% endfor %}
    </ul>
</div>
{% else %}
{% if election.analysis.turnout %}
<div>
    <ul>
        <li><a href="{{ election.analysis.slug }}.html">Turnout</a></li>
    </ul>
</div>
{% else %}
<div>
    No data.
</div>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
