<h2>Welcome!</h2>
<p>
This web site contains election results generated from data provided by
the <a href="https://www.philadelphiavotes.com/">Office of the Philadelphia
City Commissioners</a>.
</p>
<p>The results contain dot-density maps for each race. Dot-density maps are
a great way to view election results because they let you see turnout and
the amount of votes for many candidates at one time without the ambiguity
of the "weight" each voting division carries (for example in a
<a href="https://en.wikipedia.org/wiki/Choropleth_map">choropleth map</a>).
</p>
<p>This is a project of <a href="https://www.sharphall.org/">Sharp Hall</a>.
Questions and comments welcome at <a href="mailto:sharp@sharphall.org">sharp@sharphall.org</a>.
</p>
<h2>Voter resources</h2>
<ul>
    <li><a href="https://www.philadelphiavotes.com/index.php?option=com_voterapp&amp;tmpl=component">Find your polling place &amp; view a sample ballot</a></li>
    <li><a href="https://ballot.seventy.org/">Build a ballot (Committee of 70)</a></li>
</ul>
