{% extends "base.html" %}
{% block title %}{{ election.name }} - {{ race.name }}{% endblock %}
{% block body %}
{% if election.show_divisions_reporting %}
<div>
    <table>
        <tr><td class="tdlabel">Divisions Reporting</td><td class="{% if race.reporting_divs < race.total_divs %}in{% endif %}complete">{{ race.reporting_divs }}</td></tr>
        <tr><td class="tdlabel">Divisions Expected</td><td class="{% if race.reporting_divs < race.total_divs %}in{% endif %}complete">{{ race.total_divs }}</td></tr>
    </table>
</div>
{% endif %}
<div>
    <table>
<thead>
    <tr>
        <td>Choice</td>
        <td>Vote Count</td>
        <td>Percentage</td>
    </tr>
</thead>
<tbody>
{% for choice in race.sorted_choices %}
    <tr>
        <td>{{ choice }}</td>
        <td>{{ race.results[choice] }}</td>
        {% if race.total_votes > 0 %}
        <td>{{ "%.2f" | format(race.results[choice] / race.total_votes * 100) }}%</td>
        {% else %}
        <td>0.00%</td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
    </table>
</div>
<div>
    <img src="{{ race.map }}" />
</div>
<div>
    Data source: <a href="{{ election.data_source }}">{{ election.data_source }}</a><br />
    Street centerlines: <a href="http://metadata.phila.gov/#home/datasetdetails/555f8133f15fcb6c6ed44132/representationdetails/556dd4da3da941e307401194/">http://metadata.phila.gov/#home/datasetdetails/555f8133f15fcb6c6ed44132/representationdetails/556dd4da3da941e307401194/</a>
    {% if election.data_modified %}
    <br />Data last modified at <i>{{ election.data_modified }}</i> and last checked
    for changes at <i>{{ election.data_checked }}</i>.
    {% endif %}
</div>
{% if election.data_modified %}
<div>
    <i>This page generated at {{ now }}.</i>
</div>
{% endif %}
{% endblock %}
